* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;

}

html,
body {
    max-width: 100%;
}

main {
    border: 1px solid yellow;
    height: 100vh;

}


.info-section {
    
    background-image: url("images/pattern-bg-desktop.png");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40vh;
    position: relative;
}

.info-div {
    background-color: white;
    width: 90%;
    max-width: 50em;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: hsl(0, 0%, 59%);
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    bottom: -50px;
    z-index: 1000;
    font-size: 13px;
}

/* .info-div div{
    display: flex;
    justify-content: center;

} */

/* .search-div{
    border: 1px solid black;
    height: 30px;
    width: auto; 
} */

input {
    border-radius: 10px 0 0 10px;
    width: 400px;
    height: 35px;
    padding: 10px;
    border: 0;
}

button {
    background-color: black;
    margin-left: -5px;
    height: 35px;
    width: 30px;
    border-radius: 0 10px 10px 0;
    border: 0;
}

#map {
    height: 100%;
}

.map-section {
    height: 60vh;
    position: relative;
}

@media (min-width: 1440px) {
    
    /* input {
    border-radius: 10px 0 0 10px;
    width: 400px;
    height: 35px;
    padding: 10px;
    border: 0;
} */
    
}

@media (max-width: 768px) {
    .info-section{
        background-image: url("images/pattern-bg-mobile.png");
    }
    .info-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;
        gap: 10px;
        position: absolute;
        bottom: -200px;
    }
    .input{
        border-radius: 10px 0 0 10px;
        width: auto;
        height: 20px;
        padding: 10px;
        border: 0;
    }
    .search-div{
        width: auto;
        height: 20px;
        
    }
    html,
    body{
    height: 100vh;
    }
}